

* {
    padding: 0;
    margin: 0;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.flexcoln {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
body {
    display: flex;
    font-size: 100%;
}
.desktop {
    display: none;
}