:root {
    --blue: #1207AB;
    --white: #ffffff;
    --textColor: rgba(21, 12, 33, 0.59);}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-size: 100%;
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;}


.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flexcoln {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.paddingSides {
    padding-left: 7vw;
    padding-right: 7vw;}
.paddingtndb{
    padding-top: 2vw;
    padding-bottom: 1vw;
}

.desktop {display: none;}
.navigation {display: none;}
.none {display: none;}

@media only screen and (min-width: 800px) 
{
.desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;}
.desktop {background-color: var(--blue);
            color: var(--white);}

.navigation{display: flex;
            justify-content: space-between;
            width: 50%;
            color: var(--textColor);}

.none {display: flex;}
.navshortcut {display: none;}
}